<ion-view view-title="Login">
    <ion-content class="padding has-header">
        <hr>
        <div class="text-center">
            <img src="img/youstart.png">
        </div>
        <hr>
        <br>
        <div class="list">
            <form name="loginForm" role="form" novalidate ng-submit="!loginForm.$valid || lc.logIn(lc.email, lc.password)">
                <label class="item item-input">
                    <input type="email" placeholder="Email *" ng-model="lc.email" name="email" ng-required="true" ng-click="lc.submit = false"
                           ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" autofocus>
                </label>
                <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$error && lc.submit" class="assertive" role="alert">
                    <span ng-message="required">Email is required!</span>
                    <span ng-message="pattern">Email is not valid!</span>
                </div>
                <br>

                <div class="item item-input item-icon-right" ng-init="lc.inputType = 'password'">
                    <input type="{{lc.inputType}}" placeholder="Password *" ng-model="lc.password" ng-required="true" name="password"
                           ng-click="lc.submit = false" ng-minlength="6" ng-maxlength="64">
                    <i class="icon ion-eye-disabled" ng-click="lc.inputType = 'password'" ng-if="lc.inputType == 'text'"></i>
                    <i class="icon ion-eye" ng-click="lc.inputType = 'text'" ng-if="lc.inputType == 'password'"></i>
                </div>
                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$error && lc.submit" class="assertive" role="alert">
                    <span ng-message="required">Password is required!</span>
                    <span ng-message="minlength">Password too short!</span>
                    <span ng-message="maxlength">Password too long!</span>
                </div>
                <br>

                <button type="submit" class="button button-block button-positive" ng-click="lc.submit = true">Login</button>
                <p class="text-right"><a ng-click="lc.resetPassword()" style="cursor: pointer">Forgot password?</a></p>
            </form>
        </div>
        <hr>
        <br>
        <button type="button" ng-click="lc.googleLogin()">Google</button>
        <p class="text-center"><a href="#/signup">Create an account</a></p>

    </ion-content>
</ion-view>
