<ion-view view-title="{{chat.receiverName}}">
    <ion-content style="padding: 10px" class="has-footer">
        <div class="list" style="padding:0;">
            <div class="item" ng-repeat="msg in chat.chatsArray | chatFilter:chat.senderID:chat.receiverID track by $index" style="border:none; padding:0; margin:0">

                <div  class="item-text-wrap" style="width:auto; max-width: 80%; float:right; border:none; padding:5px" ng-if="msg.senderID == chat.senderID">
                    <p style="font-size: 10px;" class="text-right; margin:0">
                        {{msg.time |timeFilter| date:'mediumTime'}}
                    </p>
                    <p style="border: 3px solid; margin: 0px 0px 0px 90%; border-color: transparent #BDE5F8 #BDE5F8 transparent; "></p>
                    <p style="font-size: 14px; color: #00529B; background-color: #BDE5F8; border-radius:5px 0px 5px 5px; padding:5px">
                        {{msg.text}}
                    </p>
                </div>

                <samp></samp>
                <div class="item-text-wrap" style="width:auto; max-width: 80%; float:left; border:none; padding:5px" ng-if="msg.receiverID === chat.senderID && msg.receiverID != msg.senderID">
                    <p style="font-size: 10px" class="text-left">
                        {{msg.time |timeFilter| date:'mediumTime'}}
                    </p>
                    <p style="border: 3px solid; margin: 0px 100% 0px 0px; border-color: transparent transparent #DFF2BF #DFF2BF; "></p>
                    <p style="font-size: 14px; color: #4F8A10; background-color: #DFF2BF; border-radius:0px 5px 5px 5px; padding:5px">
                        {{msg.text}}
                    </p>
                </div>

            </div>
        </div>

        <br>

    </ion-content>

    <ion-footer-bar>
        <div class="bar bar-footer"  style="border-top:2px solid lightgrey; border-bottom:2px solid lightgrey; padding:0 10px 0 10px">
            <input type="text" placeholder="Send a message...." class="item-input col-90" ng-model="chat.message"
                   ng-keypress="$event.keyCode == 13 && chat.sendMessage(chat.message)" auto-focus autofocus>

            <button type="button" class="button pull-right" ng-click="chat.sendMessage(chat.message)"
                    style="margin: -5px 0 0 0; background: #fff;">
                <i class="icon ion-android-send positive"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
