<ion-view view-title="{{friends.user.firstName + ' ' + friends.user.lastName}}">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="user in friends.friendsList | friendsFilter : friends.user.userId track by $index" ng-click="friends.chat(user.firstName, user.lastName, user.userId)">
                <img src="img/default.png">
                <h2>{{user.firstName + ' ' + user.lastName}}</h2>
                <p>{{user.status}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
